

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

:root {
  --back-color: #dbdbdb;
  --a-color: rgb(153, 114, 16);
  --list-color: rgb(43, 43, 43);
  --shadow: rgb(101, 101, 101);
  --buttons: #e0ba42;
}

body {
  background-color: var(--back-color);
}
#active-home li a{
  color: rgb(242, 160, 8);
}

/*header section styles*/ 
.header-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--buttons);
  padding: 0.5rem;
  position: relative;
} 
.header-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.6rem 0;
}
.bx {
  font-size: 0.7rem;
  color: var(--list-color);
}
#list-2 {
  gap: 2rem;
}
#list-2 #active{

  background-color: #f17e0b;
  padding: 0.4rem;
  border-radius: 30px;

}
#list-2 #active:hover{

 color: black;

}


.search {
  position: relative;
  margin-left: 40rem;
}
.search input {
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
  width: 400px;
  outline: none;
  background-color: #cfcfcf;
}

.bx-search-alt-2 {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
  top: 8px;
  color: rgb(165, 165, 165);
}
.bx-user-plus,
.bx-cart-add {
  font-size: 1.4rem;
  color: rgb(48, 47, 47);
  padding: 0.5rem;

}

.bx-user-plus:hover {
  background-color: orange;
  border-radius: 60px;
  padding: 0.5rem;
}
.bx-cart-add:hover{

  background-color: orange;
  border-radius: 60px;
}
.navbar-icon img {
  height: 50px;
  width: 50px;
  background-color: black;
  border-radius: 200px;
}
#list-2 a {
  font-size: 0.9rem;
  letter-spacing: 1.5px;
  color: black;
  height: 100%;

}
#list-2 li {
padding: 0.7rem;
}
#list-2 li a:hover {
 color: #f17e0b;
}

/*dropdown styling*/
#dropdown li a {
  font-size: 1rem;
  margin: 1rem;
}

#dropdown li {
  background-color: var(--buttons);
  width: 100%;
  padding: 0.2rem;
  border-radius: 20px;
  margin-bottom: 5px;
}

#dropdown li:hover {
  background-color: orange;
}
.dropdown {
  width: 180px;
  height: 300px;
  background:#dbdbdb;
  position: absolute;
  display: none;
  top: 115px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
  padding: 1rem;
}
ul li:hover .dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.navbar-icon h1 {
  font-size: 4rem;
  color: var(--buttons);
}
.list {
  display: flex;
}

.list li a {
  margin-left: 2rem;
  color: rgb(31, 31, 31);
  font-size: 1rem;
  transition: 0.5s;
}
.list li a:hover {
  color: white;
  transform: scaleY(1.6);
}

/*section-1 styles*/
.carousel {
  width: 100%;
  height: 70vh;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(./images/211103102546-underscored-ps5-vs-ps5-digital-lead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  animation: slide 15s infinite;
  border-bottom: 1px solid rgb(44, 44, 44);
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.carousel button {
  padding: 0.8rem 3rem;
  background-color: transparent;
  border: none;
  border-radius: 100px;
  margin-bottom: 2rem;
  transition: 0.7s;
  font-weight: 600;
  border: 2px solid var(--buttons);
  cursor: pointer;
  color: var(--buttons);
}
.carousel button:hover {
  color: black;
  transform: scale(1.2);
  transition: 0.7s;
  background-color: rgb(255, 179, 0);
  cursor: pointer;
}
.cover-image{

  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
  url(images/1000_F_314876249_O2GFOsWQy2KoBHrBWBWJsipsYbg25Q4J.jpg);
  background-position: center;
  background-color: aqua;
  height: 280px;
  margin-bottom: 2rem;
}

/*section-3 styles*/
.cart {
  height: 1600px;
}

.cart-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.cards {
  height: 400px;
  text-align: center;
  width: 250px;
  gap: 3rem;
  border-radius: 10px;
  margin-bottom: 5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: rgb(211, 211, 211);
  border: 1px solid grey;
  padding: 1rem;
  position: relative;
}

.cards:hover {
  transition: 0.6s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
}

.cart h1 {
  color: rgb(36, 36, 36);
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2.5rem;
}
.cards h2 {
  color: rgb(54, 54, 54);
  font-size: 1rem;
  margin-bottom: 1.3rem;
}

.cards button {
  background-color: transparent;
  padding: 0.7rem 2rem;
  border-radius: 10px;
  font-weight: bold;
  border: 2px solid rgb(64, 64, 64);
  color: rgb(64, 64, 64);
  outline: none;
}
.cards button:hover {
  background-color: orange;
  color: black;
  cursor: pointer;
  transition: 0.4s;
}

.bx-cart-alt {
  font-size: 1.5rem;
  top: 0;
  right: 0;
  padding: 0.5rem;
  position: absolute;
  background-color: var(--buttons);
  border-radius: 0px;
  border-top-right-radius: 10px;
}

.bx-cart-alt:hover {
  background-color: rgb(255, 179, 0);
  cursor: pointer;
  transform: rotate(50deg);
}
.cards img {
  height: 220px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}


.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 100%;
}

.about-card {
  text-align: center;
  width: 1000px;
}
.about-card h1 {
  font-size: 3rem;
  color: white;
  margin-bottom: 1rem;
}
.about-card p {
  font-size: 1.3rem;
  color: var(--buttons);
  margin-bottom: 1.5rem;
}

footer {
  height: 300px;
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--buttons);
}
span {
  font-weight: 100;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12rem;
}
.footer-card a {
  color: black;
  font-size: 1rem;
  list-style: disc;
}

#bx {
  font-size: 3rem;
}
#social li a {
  padding: 1rem;
}
.list-footer li a {
  line-height: 28px;
}
.list-footer li a:hover {
  font-weight: bold;
}

#social {
  display: flex;
}

#arrow {
  font-size: 3rem;
  margin-left: 5rem;
}
#arrow:hover {
  color: brown;
}

/*media quaries*/
@media (max-width: 1800px) {
.cards {
  height: 380px;
  text-align: center;
  width: 220px;
  gap: 3rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px var(--shadow);
  padding: 1rem;
  position: relative;
}
.cards img {
  height: 200px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}
}

@media (max-width: 1600px) {
.footer-card a {
  color: black;
  font-size: 0.9rem;
  list-style: disc;
}
.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}
.hero-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(211103102546-underscored-ps5-vs-ps5-digital-lead.jpg);
  width: 530px;
  height: 620px;
  border-radius: 20px;
  line-height: 24px;
  text-align: center;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  box-shadow: 0px 0px 2px 2px var(--shadow);
}

.item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(iphone15pro-review-blogroll-1695086014290.jpg);
  width: 320px;
  height: 300px;
  border-radius: 20px;
  line-height: 24px;
  background-position: center;
  text-align: center;
  background-size: cover;
  padding: 2rem;
  box-shadow: 0px 0px 2px 2px var(--shadow);

  margin-bottom: 1rem;
}

#item-1 {
  width: 320px;
  height: 300px;
}
.item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(tile_watch_se__cuswe7ukqd6q_large.jpg);
  box-shadow: 0px 0px 2px 2px var(--shadow);
  width: 370px;
  height: 350px;
  line-height: 24px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#item-3 {
  height: 250px;
  width: 370px;
}

.item-3 h1 {
  margin-top: 1rem;
  font-size: 2rem;
}
.hero-section {
  height: 820px;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

#list-2 li a{
  font-size: 0.7rem;
}
.cards {
  height: 340px;
  text-align: center;
  width: 200px;
  gap: 3rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px var(--shadow);
  padding: 1rem;
  position: relative;
}
.cards img {
  height: 170px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}
.cart{
  height: 1450px;
}
}

@media (max-width: 1496px) {
.cart {
  height: 2050px;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 9rem;
}
.footer-card a {
  color: black;
  font-size: 1rem;
  list-style: disc;
}
.hero-card {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(211103102546-underscored-ps5-vs-ps5-digital-lead.jpg);
  width: 550px;
  height: 620px;
  border-radius: 20px;
  line-height: 24px;
  text-align: center;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  box-shadow: 0px 0px 2px 2px var(--shadow);
}

.item-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(iphone15pro-review-blogroll-1695086014290.jpg);
  width: 320px;
  height: 300px;
  border-radius: 20px;
  line-height: 24px;
  background-position: center;
  text-align: center;
  background-size: cover;
  padding: 2rem;
  box-shadow: 0px 0px 2px 2px var(--shadow);

  margin-bottom: 1rem;
}

#item-1 {
  width: 320px;
  height: 300px;
}
.item-3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.27), rgba(0, 0, 0, 0.67)),
    url(tile_watch_se__cuswe7ukqd6q_large.jpg);
  box-shadow: 0px 0px 2px 2px var(--shadow);
  width: 320px;
  height: 330px;
  line-height: 24px;
  border-radius: 20px;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

#item-3 {
  height: 270px;
  width: 320px;
}

.item-3 h1 {
  margin-top: 1rem;
  font-size: 2rem;
}
.cards {
  height: 360px;
  text-align: center;
  width: 220px;
  gap: 3rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px var(--shadow);
  padding: 1rem;
  position: relative;
}
.cards img {
  height: 180px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}
}

@media (max-width: 1334px) {
.hero-section {
  height: 1200px;

  display: flex;
}

.hero-card-3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 1rem;
}

.item-3 {
  width: 400px;
}

#item-3 {
  height: 330px;
  width: 450px;
}

.footer-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}
}

@media (max-width: 1244px) {
.cart {
  height: 2400px;
}
}

@media (max-width: 1150px) {
.cards {
  height: 340px;
  text-align: center;
  width: 210px;
  gap: 3rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 2px 1px var(--shadow);
  padding: 1rem;
  position: relative;
}
.cards img {
  height: 170px;
  width: 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  opacity: 0.8;
}
.footer-card a {
  color: black;
  font-size: 0.8rem;
  list-style: disc;
}

#bx {
  font-size: 2rem;
}
#arrow {
  font-size: 2.4rem;
  margin-left: 3rem;
}

.list {
  display: none;
}

.header-1 {
  justify-content: center;
  gap: 20rem;
  border-bottom: 2px solid #e0ba42;
}
.header-2 {
  display: none;
}

.hamburger {
  display: flex;
  height: 60px;
  width: 50px;
  flex-direction: column;
  justify-content: center;
}
.hamburger span {
  height: 5px;
  width: 100%;
  margin: 5px;
  background-color: #e0ba42;
  border-radius: 50px;
}
}
